* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* TASK-1 */

.item {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 16px;
  background-color: #f6f6fe;
  border-radius: 8px;
}

.item:not(:last-child) {
  margin-bottom: 24px;
}

.item h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.96px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list li {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
}

/* TASK-2 */

img {
  width: 360px;
  height: 300px;
}

.gallery {
  margin: 0;
  padding: 100px 156px;
  row-gap: 48px;
  column-gap: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery li {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

/* TASK-3 */

#name-input {
  margin-bottom: 16px;
  padding: 8px 16px;
  width: 360px;
  border: 1px solid #808080;
  border-radius: 4px;
}

#name-input::placeholder {
  color: #2e2f42;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.96px;
}

/* TASK-4 */

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 24px;
  width: 408px;
  background-color: #ffffff;
  border-radius: 8px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64;
}

.login-form label:not(:last-child) {
  margin-bottom: 8px;
}

.login-form input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.login-form button {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px 16px;
  width: 86px;
  background-color: #4e75ff;
  border-radius: 8px;
  border-color: transparent;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64;
}

/* TASK-5 */

.widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 345px;
  height: 280px;
  background-color: #ffffff;
  border-radius: 8px;
}

.widget p {
  margin-bottom: 16px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64;
}

.change-color {
  cursor: pointer;
  padding: 8px 16px;
  width: 148px;
  background-color: #4e75ff;
  border-color: transparent;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64;
}
